.grid-container {
    display: grid;
    grid-template-columns: 0.1fr 3.5fr 0.1fr;
    grid-template-rows: 0.1fr 3.3fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". main ."
      ". . .";
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.3fr 3.4fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "title"
      "coor"
      "street"
      "map"
      "results";
    grid-area: main;
  }
  .title { grid-area: title; }
  .coor { grid-area: coor; }
  .street { grid-area: street; }
  .map { grid-area: map; }
  .results { grid-area: results; }

body #mapid { height: 500px;
 }

body #coord{
    margin-bottom: 5px;
    padding: 5vh 5vh;
}

#search{
    margin-bottom: 8px;
    padding: 5vh 5vh;
}

#mapid{
    border: 2px solid rgb(56, 55, 55);
}
.address { cursor:pointer }

.address:hover { color:#AA0000;text-decoration:underline }